@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

* {
    box-sizing: border-box;
}

.slick-dots li div {
    background: #d1d5db;
    transition: all 0.3s ease;
}

/* dot active */
.slick-dots li.slick-active div {
    background: #dd9933;
}

@theme {
    --color-text-title: #0a0a0b;
    --color-text-des: #303036;
    --color-text-hover: #dd9933;
    --animate-slide-down: slide-down 0.4s linear;
    --animate-circle: circle 0.5s linear infinite;
    --font-roboto: 'Roboto', sans-serif;
    --font-monterrat: 'Montserrat', sans-serif;
    --shadow-select-product: 0 4px 12px rgba(255, 0, 128, 0.2);
    --shadow-box: 0 4px 12px rgba(0, 0, 0, 0.25);
    --breakpoint-mobile-sm: max(390px);
    --text-shadow-b: 2px 2px 4px rgba(0, 0, 0, 0.7);

    @keyframes slide-down {
        0% {
            opacity: 0;
            transform: translateY(-100%);
        }
        ,
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes circle {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

.transition-all {
    @apply transition-all duration-200 ease-in;
}
